In [2]:
import pandas as pd
import numpy as np

In [3]:
gender= "cleaned_gender_2019.csv"
gender_df = pd.read_csv(gender)
gender_df.head()

       Country Code  Year  Females   Males  Population
0  Afghanistan  AFG  1999   56.645  54.210  20171000.0
1  Afghanistan  AFG  2000   57.120  54.663  20780000.0
2  Afghanistan  AFG  2001   57.596  55.119  21607000.0
3  Afghanistan  AFG  2002   58.080  55.583  22601000.0
4  Afghanistan  AFG  2003   58.578  56.056  23681000.0

In [4]:
ml= "cleaned_ML_data_3.csv"
ml_df = pd.read_csv(ml)
ml_df.head()

,Country,Code,Year,Region,Access to electricity (% of population),Adjusted net national income (annual % growth),"Cause of death, by non-communicable diseases (% of total)",Current health expenditure (% of GDP),Diabetes prevalence (% of population ages 20 to 79),GDP per capita (current US$),...,Number of infant deaths,"Population, total",Proportion of people living below 50 percent of median income (%),Real interest rate (%),Renewable electricity output (% of total electricity output),"School enrollment, secondary (% net)","Suicide mortality rate (per 100,000 population)","Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)","Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban land area (sq. km)
0,Afghanistan,AFG,1999,South Asia,NaN,NaN,NaN,NaN,NaN,NaN,...,89438.0,20170847.0,NaN,NaN,73.722628,NaN,NaN,NaN,11.69,NaN
1,Afghanistan,AFG,2000,South Asia,NaN,NaN,32.009763,NaN,NaN,NaN,...,89703.0,20779957.0,NaN,NaN,74.989094,NaN,4.9,NaN,11.65,NaN
2,Afghanistan,AFG,2001,South Asia,NaN,NaN,NaN,NaN,NaN,NaN,...,89479.0,21606992.0,NaN,NaN,72.811460,NaN,5.0,NaN,11.63,NaN
3,Afghanistan,AFG,2002,South Asia,NaN,NaN,NaN,9.443390,NaN,179.426579,...,88842.0,22600774.0,NaN,NaN,79.063971,NaN,5.0,NaN,11.68,NaN
4,Afghanistan,AFG,2003,South Asia,NaN,NaN,NaN,8.941258,NaN,190.683814,...,87916.0,23680871.0,NaN,NaN,70.249729,NaN,5.0,NaN,11.68,NaN

In [5]:
s1 = pd.merge(ml_df,gender_df, how='left', on=['Country','Code','Year'])
s1

,Country,Code,Year,Region,Access to electricity (% of population),Adjusted net national income (annual % growth),"Cause of death, by non-communicable diseases (% of total)",Current health expenditure (% of GDP),Diabetes prevalence (% of population ages 20 to 79),GDP per capita (current US$),...,Real interest rate (%),Renewable electricity output (% of total electricity output),"School enrollment, secondary (% net)","Suicide mortality rate (per 100,000 population)","Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)","Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban land area (sq. km),Females,Males,Population
0,Afghanistan,AFG,1999,South Asia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,73.722628,NaN,NaN,NaN,11.69,NaN,56.645,54.210,20171000.0
1,Afghanistan,AFG,2000,South Asia,NaN,NaN,32.009763,NaN,NaN,NaN,...,NaN,74.989094,NaN,4.9,NaN,11.65,NaN,57.120,54.663,20780000.0
2,Afghanistan,AFG,2001,South Asia,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,72.811460,NaN,5.0,NaN,11.63,NaN,57.596,55.119,21607000.0
3,Afghanistan,AFG,2002,South Asia,NaN,NaN,NaN,9.443390,NaN,179.426579,...,NaN,79.063971,NaN,5.0,NaN,11.68,NaN,58.080,55.583,22601000.0
4,Afghanistan,AFG,2003,South Asia,NaN,NaN,NaN,8.941258,NaN,190.683814,...,NaN,70.249729,NaN,5.0,NaN,11.68,NaN,58.578,56.056,23681000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4552,Zimbabwe,ZWE,2015,Sub-Saharan Africa,33.700000,12.606945,36.946549,7.452066,NaN,1445.069702,...,7.886025,52.724276,NaN,18.0,4.92,5.29,NaN,60.984,57.778,13815000.0
4553,Zimbabwe,ZWE,2016,Sub-Saharan Africa,39.676228,0.834130,NaN,7.647620,NaN,1464.588957,...,4.847585,NaN,NaN,16.8,NaN,5.24,NaN,61.719,58.565,14030000.0
4554,Zimbabwe,ZWE,2017,Sub-Saharan Africa,40.144283,30.056846,NaN,5.849775,NaN,1335.665064,...,-3.490553,NaN,NaN,15.0,NaN,5.15,NaN,62.220,59.105,14237000.0
4555,Zimbabwe,ZWE,2018,Sub-Saharan Africa,40.616360,63.851288,NaN,4.734331,NaN,1352.162653,...,-33.586875,NaN,NaN,14.0,4.67,5.07,NaN,62.598,59.501,14439000.0
4556,Zimbabwe,ZWE,2019,Sub-Saharan Africa,41.089108,NaN,39.258228,NaN,1.8,1156.154864,...,-74.181852,NaN,NaN,14.1,NaN,5.02,NaN,62.899,59.798,14645000.0

In [6]:
s1.to_csv ('combined_ml_genders.csv', index = False, header=True)

In [7]:
mll= "cleaned_ML_data_4.csv"
mll_df = pd.read_csv(mll)
mll_df.head()

,CountryName,CountryCode,Year,Region,"Life expectancy at birth, total (years)",Access to electricity (% of population),Adjusted net national income (annual % growth),"Cause of death, by non-communicable diseases (% of total)",Current health expenditure (% of GDP),Diabetes prevalence (% of population ages 20 to 79),...,"Mortality caused by road traffic injury (per 100,000 population)","Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene (per 100,000 population)",Number of infant deaths,"Population, total",Proportion of people living below 50 percent of median income (%),Real interest rate (%),"Suicide mortality rate (per 100,000 population)","Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)","Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban land area (sq. km)
0,Afghanistan,AFG,1999,South Asia,55.376,97.7,3.97,50.000000,9.400000,9.2,...,16.0,13.9,89438,20170847.0,12.8,12.1,4.1,0.2,11.69,17222.0
1,Afghanistan,AFG,2000,South Asia,55.841,97.7,3.97,32.009763,9.400000,9.2,...,14.7,13.9,89703,20779957.0,12.8,12.1,4.9,0.2,11.65,17222.0
2,Afghanistan,AFG,2001,South Asia,56.308,97.7,3.97,50.000000,9.400000,9.2,...,15.1,13.9,89479,21606992.0,12.8,12.1,5.0,0.2,11.63,17222.0
3,Afghanistan,AFG,2002,South Asia,56.784,97.7,3.97,50.000000,9.443390,9.2,...,14.9,13.9,88842,22600774.0,12.8,12.1,5.0,0.2,11.68,17222.0
4,Afghanistan,AFG,2003,South Asia,57.271,97.7,3.97,50.000000,8.941258,9.2,...,15.0,13.9,87916,23680871.0,12.8,12.1,5.0,0.2,11.68,17222.0

In [10]:
mll_df = mll_df.rename(columns={"CountryName":"Country","CountryCode":"Code"})
mll_df

,Country,Code,Year,Region,"Life expectancy at birth, total (years)",Access to electricity (% of population),Adjusted net national income (annual % growth),"Cause of death, by non-communicable diseases (% of total)",Current health expenditure (% of GDP),Diabetes prevalence (% of population ages 20 to 79),...,"Mortality caused by road traffic injury (per 100,000 population)","Mortality rate attributed to unsafe water, unsafe sanitation and lack of hygiene (per 100,000 population)",Number of infant deaths,"Population, total",Proportion of people living below 50 percent of median income (%),Real interest rate (%),"Suicide mortality rate (per 100,000 population)","Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)","Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban land area (sq. km)
0,Afghanistan,AFG,1999,South Asia,55.376,97.700000,3.970000,50.000000,9.400000,9.2,...,16.0,13.9,89438,20170847.0,12.8,12.100000,4.1,0.20,11.69,17222.0
1,Afghanistan,AFG,2000,South Asia,55.841,97.700000,3.970000,32.009763,9.400000,9.2,...,14.7,13.9,89703,20779957.0,12.8,12.100000,4.9,0.20,11.65,17222.0
2,Afghanistan,AFG,2001,South Asia,56.308,97.700000,3.970000,50.000000,9.400000,9.2,...,15.1,13.9,89479,21606992.0,12.8,12.100000,5.0,0.20,11.63,17222.0
3,Afghanistan,AFG,2002,South Asia,56.784,97.700000,3.970000,50.000000,9.443390,9.2,...,14.9,13.9,88842,22600774.0,12.8,12.100000,5.0,0.20,11.68,17222.0
4,Afghanistan,AFG,2003,South Asia,57.271,97.700000,3.970000,50.000000,8.941258,9.2,...,15.0,13.9,87916,23680871.0,12.8,12.100000,5.0,0.20,11.68,17222.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4552,Zimbabwe,ZWE,2015,Sub-Saharan Africa,59.534,33.700000,12.606945,36.946549,7.452066,1.8,...,38.7,24.6,20014,13814642.0,12.7,7.886025,18.0,4.92,5.29,17222.0
4553,Zimbabwe,ZWE,2016,Sub-Saharan Africa,60.294,39.676228,0.834130,39.000000,7.647620,1.8,...,39.9,24.6,19029,14030338.0,12.7,4.847585,16.8,4.70,5.24,17222.0
4554,Zimbabwe,ZWE,2017,Sub-Saharan Africa,60.812,40.144283,30.056846,39.000000,5.849775,1.8,...,40.1,24.6,18293,14236599.0,12.7,-3.490553,15.0,4.70,5.15,17222.0
4555,Zimbabwe,ZWE,2018,Sub-Saharan Africa,61.195,40.616360,63.851288,39.000000,4.734331,1.8,...,40.6,24.6,17413,14438812.0,12.7,-33.586875,14.0,4.67,5.07,17222.0
4556,Zimbabwe,ZWE,2019,Sub-Saharan Africa,61.490,41.089108,63.900000,39.258228,4.730000,1.8,...,41.2,24.6,16769,14645473.0,12.7,-74.181852,14.1,4.70,5.02,17222.0

In [8]:

gender_2=gender_df.drop(columns=['Population'])
gender_2

          Country Code  Year  Females   Males
0     Afghanistan  AFG  1999   56.645  54.210
1     Afghanistan  AFG  2000   57.120  54.663
2     Afghanistan  AFG  2001   57.596  55.119
3     Afghanistan  AFG  2002   58.080  55.583
4     Afghanistan  AFG  2003   58.578  56.056
...           ...  ...   ...      ...     ...
5407     Zimbabwe  ZWE  2016   61.719  58.565
5408     Zimbabwe  ZWE  2017   62.220  59.105
5409     Zimbabwe  ZWE  2018   62.598  59.501
5410     Zimbabwe  ZWE  2019   62.899  59.798
5411     Zimbabwe  ZWE  2020   63.164  60.037

[5412 rows x 5 columns]

In [11]:
s2 = pd.merge(mll_df,gender_2, how='left', on=['Country','Code','Year'])
s2

,Country,Code,Year,Region,"Life expectancy at birth, total (years)",Access to electricity (% of population),Adjusted net national income (annual % growth),"Cause of death, by non-communicable diseases (% of total)",Current health expenditure (% of GDP),Diabetes prevalence (% of population ages 20 to 79),...,Number of infant deaths,"Population, total",Proportion of people living below 50 percent of median income (%),Real interest rate (%),"Suicide mortality rate (per 100,000 population)","Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)","Unemployment, total (% of total labor force) (modeled ILO estimate)",Urban land area (sq. km),Females,Males
0,Afghanistan,AFG,1999,South Asia,55.376,97.700000,3.970000,50.000000,9.400000,9.2,...,89438,20170847.0,12.8,12.100000,4.1,0.20,11.69,17222.0,56.645,54.210
1,Afghanistan,AFG,2000,South Asia,55.841,97.700000,3.970000,32.009763,9.400000,9.2,...,89703,20779957.0,12.8,12.100000,4.9,0.20,11.65,17222.0,57.120,54.663
2,Afghanistan,AFG,2001,South Asia,56.308,97.700000,3.970000,50.000000,9.400000,9.2,...,89479,21606992.0,12.8,12.100000,5.0,0.20,11.63,17222.0,57.596,55.119
3,Afghanistan,AFG,2002,South Asia,56.784,97.700000,3.970000,50.000000,9.443390,9.2,...,88842,22600774.0,12.8,12.100000,5.0,0.20,11.68,17222.0,58.080,55.583
4,Afghanistan,AFG,2003,South Asia,57.271,97.700000,3.970000,50.000000,8.941258,9.2,...,87916,23680871.0,12.8,12.100000,5.0,0.20,11.68,17222.0,58.578,56.056
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4552,Zimbabwe,ZWE,2015,Sub-Saharan Africa,59.534,33.700000,12.606945,36.946549,7.452066,1.8,...,20014,13814642.0,12.7,7.886025,18.0,4.92,5.29,17222.0,60.984,57.778
4553,Zimbabwe,ZWE,2016,Sub-Saharan Africa,60.294,39.676228,0.834130,39.000000,7.647620,1.8,...,19029,14030338.0,12.7,4.847585,16.8,4.70,5.24,17222.0,61.719,58.565
4554,Zimbabwe,ZWE,2017,Sub-Saharan Africa,60.812,40.144283,30.056846,39.000000,5.849775,1.8,...,18293,14236599.0,12.7,-3.490553,15.0,4.70,5.15,17222.0,62.220,59.105
4555,Zimbabwe,ZWE,2018,Sub-Saharan Africa,61.195,40.616360,63.851288,39.000000,4.734331,1.8,...,17413,14438812.0,12.7,-33.586875,14.0,4.67,5.07,17222.0,62.598,59.501
4556,Zimbabwe,ZWE,2019,Sub-Saharan Africa,61.490,41.089108,63.900000,39.258228,4.730000,1.8,...,16769,14645473.0,12.7,-74.181852,14.1,4.70,5.02,17222.0,62.899,59.798

In [12]:
s2.to_csv ('combined_ml_genders_1.csv', index = False, header=True)